# SPDX-License-Identifier: GPL-2.0-only
# NOTE: upstream Scarlet populates techpack/* subdirs from a manifest and ignores
# them here ("*/"). In this self-contained snapshot those subdirs are REAL source
# needed to build (audio, camera, display, video, touch, ...), so the exclusion is
# disabled and everything under techpack/ is tracked.
